body{
    text-align: center;
    font-size: large;
    background-color: rgb(136, 132, 132);
}
.btn{
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.yellow{
    background-color: rgb(212, 255, 0);
}
.green{
    background-color:green;
}
.voilet{
    background-color: rgb(247, 4, 125);
}
.Flash{
    background-color: White;
}
.userFlash{
    background-color: rgb(0, 0, 0);
}